@keyframes loading-pulse {
    0% {
        background-color: rgba(0, 0, 0, 0.9);
    }

    60% {
        background-color: rgba(0, 0, 0, 0.1);
    }

    80% {
        background-color: rgba(0, 0, 0, 0.25);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@keyframes formRevealAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes formHideAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(-165%)
    }

    100% {
        transform: translateX(165%)
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius: 0.4em;
    box-sizing: border-box;
}

.card {
    position: absolute;
    /* aspect-ratio: 1/1; */
    padding: 0.4em;
    border-radius: 0.4em;
    z-index: 0;
    cursor: grab;
    box-sizing: border-box;
    color: rgb(161, 161, 161);
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.cardLoading {
    animation: loading-pulse 1s linear infinite alternate;
}

.image {
    /* aspect-ratio: 4 / 5; */
    /* object-fit: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 0.2em;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;
}

.formTitle {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    /* padding: 0.4em; */
    border-radius: 0.2em;
    color: black;
    background: rgba(192, 192, 192, 0.2);
    border: 1px solid rgba(192, 192, 192, 0.5);
    margin-top: 0.4em;
    cursor: pointer;
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    transition: background-color 0.3s, color 0.3s;
}

.formTitle:hover {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(192, 192, 192, 0.9);
    border: 0.2px solid rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    transition: all 0.4s ease;
}

.formTitle:active {
    color: rgb(0, 0, 0);
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.formHidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    animation: formHideAnimation 0.2s ease forwards;
}

.formReveal {
    margin-top: 0.4em;
    /* opacity: 1; */
    height: auto;
    max-height: 12em;
    transition: all 0.5s ease;
    opacity: 0;
    animation: formRevealAnimation 0.5s ease forwards;
    animation-delay: 0.2s;
}

.buttonContainer {
    margin-top: 0.4em;
}

.lockedButton {
    position: relative;
    cursor: pointer;
    width: 100%;
    /* height: 3em; */
    padding: 0.6em;
    border: none;
    border-radius: 0.2em;
    transition: border-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.lockedButton:disabled {
    color: rgb(175, 175, 175);
    background-color: hsla(0, 0%, 41%, 0.609);
    border-color: rgba(99, 99, 99, 0.836);
    cursor: not-allowed;
}

.lockedButton:before {
    content: attr(data-tooltip);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 100%);
    margin: 1.2em 0;
    padding: 0.4em 1em;
    border-radius: 0.2em;
    color: black;
    background: rgba(192, 192, 192, 0.1);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.lockedButton:hover:before {
    opacity: 1;
}

.scrollElement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.4em;
    white-space: nowrap;
    transition: opacity 1.5s ease;
    overflow: hidden;
    margin: 0.25em;
    border-radius: 2em;
    background: rgba(161, 161, 161, 0.2);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.scroll {
    /* color: rgba(255, 170, 0, 0.85); */
    /* text-shadow: 0px 0px 10px rgba(240, 198, 16, 1); */
    animation: scrolling 10s linear infinite;
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .leftHalf {
        width: 100%;
    }

    .rightHalf {
        width: 100%;
    }
}

@media (max-width: 450px) {}