/* Default styles for the full-width layout */
.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    /* Three columns for the top row */
    grid-template-rows: auto 1fr;
    /* Auto row for the top, 1fr for the bottom */
    box-sizing: border-box;
    /* display: flex;
    flex-direction: column; */
    background: white;
}

.columnTop {
    /* min-height: 50vh; */
    grid-row: 1;
    /* Place top columns in the first row */
    background-color: black;
    border-radius: 0.2em;
    margin: 0.2em;
    /* padding: 0.4em; */
    color: white;
    /* color: rgb(161, 161, 161); */
    background: rgba(192, 192, 192, 0.2);
    border: 1px solid rgba(192, 192, 192, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.columnBottom {
    grid-row: 2;
    /* Place the bottom column in the second row */
    grid-column: 1 / span 2;
    /* Span three columns for the bottom column */
    background-color: #f8f8f8;
    margin: 0.2em;
    padding-bottom: 0.2em;
    /* Add padding to the bottom of the column */
    box-sizing: border-box;
}

.inputPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.adminHeading {
    background: rgba(0, 0, 0, 0.9);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    backdrop-filter: blur(10px);
    margin: 0.2em;
    margin-bottom: 0;
    padding: 0.4em;
    box-sizing: border-box;
    border-radius: 0.1em;
    font-size: 24px;
    font-weight: 500;
}

.adminForm {
    padding: 0.4em;
}

.table {
    width: 100%;
    caption-side: bottom;
    font-size: 14px;
    margin: 0;
    outline: none;
    border-radius: 0.4em;
    padding: 0.2em;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgb(161, 161, 161);
    background: rgba(192, 192, 192, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.table thead th {
    border-spacing: 0;
    padding: 0.4em 0;
    border-bottom: 1px solid rgb(161, 161, 161);
    text-align: left;
    font-weight: 500;
    color: grey;
    box-sizing: border-box;

}

.table thead th:hover {
    background-color: #f3f4f6;
}

.table thead th [data-state="selected"] {
    background-color: #f3f4f6;
}

.table tbody tr {
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.table tbody tr:hover {
    background-color: #f3f4f6;
}

.table tbody tr [data-state="selected"] {
    background-color: #f3f4f6;
}

.table td {
    padding: 8px;
    /* Adjust to control row height */
    text-align: left;
}

/* Add this rule to align text to the left in both table header cells and table data cells */
.table th,
.table td {
    text-align: left;
}

.table thead th,
.table tbody td {
    padding: 8px;
    /* Adjust to control row height */
    margin: 0;
    line-height: 1;
    /* Adjust to control text spacing */
    text-align: left;
}

.table th:hover {
    background-color: #f3f4f6;
}

.table th[data-state="selected"] {
    background-color: #f3f4f6;
}

.table tbody tr {
    border-bottom: 1px solid #e5e7eb;
    background-color: #f8f8f8;
    /* Adjust background color as needed */
}

.table tbody tr:hover {
    background-color: #f3f4f6;
}

.table tbody tr[data-state="selected"] {
    background-color: #f3f4f6;
}

/* Change the color of the checkbox border */
.table td input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #616161;
    /* Change to your desired color */
    border-radius: 0.2em;
    /* Adjust the radius to round the checkbox */
    width: 16px;
    /* Adjust the size of the checkbox */
    height: 16px;
    /* Adjust the size of the checkbox */
    position: relative;
    padding: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Change the background color of the checkbox when checked */
.table td input[type="checkbox"]:checked {
    background-color: silver;
    /* Change to your desired color */

}

/* Change the color of the checkmark inside the checkbox when checked */
.table td input[type="checkbox"]:checked::after {
    content: "\2713";
    /* Unicode checkmark symbol */
    font-size: 12px;
    /* Adjust the size of the checkmark */
    color: white;
    /* Change to your desired color */
    position: absolute;
}


.deleteButton {
    width: 2em;
    height: 2em;
    background: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    border: none;
    outline: none;
    color: white;
    border-radius: 0.2em;
}

/* Media query for a max-width of 900px */
@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr 1fr;
        /* Two columns for the top row */
        grid-template-rows: auto 1fr;
        /* Auto row for the top, 1fr for the bottom */
    }

    .columnTop {
        grid-row: 1;
        /* Place top columns in the first row */
        border-radius: 0.2em;
        margin: 0.2em;
        color: white;
    }

    .columnBottom {
        grid-row: 2;
        /* Place the bottom column in the second row */
        grid-column: 1 / span 2;
        /* Span two columns for the bottom column */
        background-color: #f8f8f8;
        margin: 0.2em;
    }

    .inputPanel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .adminHeading {
        height: 48px;
    }
}

@media (max-width: 800px) {

    .firstNameColumn,
    .lastNameColumn {
        max-width: 80px;
        overflow: scroll;
    }

    .emailColumn {
        max-width: 120px;
        overflow: scroll;
    }

    .accessColumn {
        max-width: 14px;
        text-align: center;
    }

    .addedColumn,
    .updatedColumn {
        display: none;
    }
}

/* Media query for a max-width of 450px */
@media (max-width: 450px) {
    .table {
        font-size: 12px;
    }

    .container {
        grid-template-columns: 1fr;
        /* One column for the top row */
        display: flex;
        flex-direction: column;
    }

    .columnTop {
        grid-column: 1;
    }

    .adminForm {
        padding-bottom: 4em;
    }

}