@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes status {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

    80% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 50%);
        opacity: 0;
        display: none;
    }
}

.outerContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* padding: 0.4em; */
    gap: 0.4em;
    box-sizing: border-box;
}

.innerContainer {
    /* padding: 0.4em; */
    border-radius: 0.2em;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.formTitle {
    height: 2.5em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    border-radius: 0.2em;
    margin-top: 0.6em;
    cursor: pointer;
    color: black;
    background: rgba(192, 192, 192, 0.2);
    border: 1px solid rgba(192, 192, 192, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.formHidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.formReveal {
    margin-top: 0.4em;
    opacity: 1;
    height: auto;
    max-height: 10em;
    transition: all 0.5s ease;
}

.buttonContainer {
    margin-top: 0.4em;
}

.button {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 28px;
    border: 2px solid silver;
    border-radius: 0.2em;
    color: rgb(0, 0, 0);
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.button:hover {
    color: rgba(0, 0, 0, 0.8);
    background: rgba(192, 192, 192, 0.9);
    border: 0.2px solid rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
    transition: all 0.4s ease;
}

.button:active {
    color: rgb(0, 0, 0);
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.lockedButton {
    cursor: pointer;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.2em;
    transition: border-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.lockedButton:disabled {
    color: rgb(175, 175, 175);
    background-color: hsla(0, 0%, 20%, 0.609);
    border-color: hsla(0, 0%, 75%, 0.61);
    cursor: not-allowed;
}

.lockedButton:before {
    content: attr(data-tooltip);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 100%);
    margin: 1em 0;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    background: #101010;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 14px;
    transition: scale 0.4s ease, opacity 0.4s ease;
}

.lockedButton:hover:before {
    opacity: 1;
}

.inputContainer {
    display: flex;
    margin-bottom: 0.2em;
}

.input {
    position: relative;
    width: 100%;
    height: 28px;
    border-radius: 0.2em;
    text-decoration: none;
    padding-left: 128px;
    border: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.9);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    transition: border-color 0.3s; /* Add a smooth transition for the border color change */
}

.input:focus {
    border-color: black; /* Change the border color when the element is focused */
    outline: none; /* Optionally, remove the default focus outline (not recommended for accessibility) */
}

.label {
    position: absolute;
    width: 120px;
    height: 28px;
    margin: 0;
    z-index: 1;
    border-radius: 0.2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(192, 192, 192, 0.2);
    border: 0.2px solid rgba(192, 192, 192, 0.5);
    transition: background-color 0.3s, color 0.3s;
}

.loadingIndicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1.6em;
    height: 1.6em;
    top: 15%;
    right: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 2s cubic-bezier(0.8, 0, 0.4, 1) infinite;
}

.statusMessage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    left: 50%;
    width: max-content;
    padding: 0.4em 0.6em;
    border-radius: 0.4em;
    background-color: black;
    color: #FFF;
    animation: status 2s cubic-bezier(0.8, 0, 0.4, 1);
    animation-fill-mode: forwards;
}

@media (max-width: 900px) {}

@media (max-width: 450px) {}