@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes status {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }

    20% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

    80% {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 50%);
        opacity: 0;
        display: none;
    }
}
/* 
@keyframes revealForm {
    0% {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    80% {
        margin-top: 0.4em;
        opacity: 0;
        height: auto;
        max-height: 10em;
    }

    100% {
        margin-top: 0.4em;
        opacity: 1;
        height: auto;
        max-height: 10em;
    }
} */

.formTitle {
    height: 2.5em;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    border-radius: 0.2em;
    background-color: silver;
    margin-top: 0.6em;
    font-family: Inter;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.formHidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.formReveal {
    margin-top: 0.4em;
    opacity: 1;
    height: auto;
    max-height: 10em;
    transition: all 0.5s ease;
}

.buttonContainer {
    margin-top: 0.4em;
}

.button {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 2.5em;
    border: 2px solid silver;
    border-radius: 0.2em;
    transition: border-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.button:hover {
    color: #0261FF;
    border-color: #0261FF;
}

.button:active {
    color: red;
    border-color: red;
}

.lockedButton {
    cursor: pointer;
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.2em;
    transition: border-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.lockedButton:disabled {
    color: rgb(175, 175, 175);
    background-color: hsla(0, 0%, 20%, 0.609);
    border-color: hsla(0, 0%, 75%, 0.61);
    cursor: not-allowed;
}

.lockedButton:before {
    content: attr(data-tooltip);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 100%);
    margin: 1em 0;
    padding: 0.4em 1em;
    border-radius: 0.4em;
    background: #101010;
    color: #fff;
    text-align: center;
    opacity: 0;
    font-size: 14px;
    transition: scale 0.4s ease, opacity 0.4s ease;
}

.lockedButton:hover:before {
    opacity: 1;
}

.inputContainer {
    display: flex;
    margin-bottom: 0.2em;
}

.label {
    display: flex;
    width: 180px;
    padding: 0.4em;
    border-radius: 0.2em;
    background-color: silver;
    margin-right: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    color: black;
}

.input {
    width: 100%;
    border-radius: 0.2em;
    text-decoration: none;
    padding-left: 0.4em;
    border: none;
}

.loadingIndicator {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1.6em;
    height: 1.6em;
    top: 15%;
    right: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 2s cubic-bezier(0.8, 0, 0.4, 1) infinite;
}

.statusMessage {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    left: 50%;
    width: max-content;
    padding: 0.4em 0.6em;
    border-radius: 0.4em;
    background-color: black;
    animation: status 2s cubic-bezier(0.8, 0, 0.4, 1);
    animation-fill-mode: forwards;
    font-family: Inter;
    color: #FFF;
}

@media (max-width: 900px) {
    .cardContainer {
        position: fixed;
        top: 10%;
        width: 100%;
        margin: 0.5em;
    }

    .newEventVideo {
        width: 30em;
        height: 30em;
    }

    .previousEventVideo {
        width: 30em;
        height: 30em;
    }
}

@media (max-width: 450px) {
    .newEventVideo {
        width: 20em;
        height: 20em;
    }

    .previousEventVideo {
        width: 14em;
        height: 14em;
    }

    .card {
        top: 12.5%;
    }

    .cardContainer {
        position: fixed;
        top: 10%;
        width: 100%;
        height: 70%;
        margin: 0.5em;
        z-index: 2;
    }
}