.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftHalf {
    position: relative;
    width: 50%;
    height: 100vh;
    background: black;
    box-sizing: border-box;
    transition: height 0.4s ease;
}

.rightHalf {
    width: 50%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    box-sizing: border-box;
    transition: height 0.4s ease;
}

.innerContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-radius: 0.4em;
}

.card {
    position: absolute;
    width: 30em;
    height: 20em;
    /* aspect-ratio: 4 / 5; */
    /* width: max-content;
    height: max-content; */
    padding: 0.4em;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 0.4em;
    background-color: white;
    cursor: grab;
    z-index: 0;
}

.image {
    /* aspect-ratio: 4 / 5; */
    /* object-fit: cover; */
    user-select: none;
    pointer-events: none;
    box-sizing: border-box;
}



@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .leftHalf {
        width: 100%;
        height: 50vh;
    }

    .rightHalf {
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 450px) {}