.container {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

.column {
    background-color: #fff;
}

.columnMiddle {
    background-color: #f8f8f8;
}

@media (max-width: 1000px) {
    .outerContainer {
        display: flex;
        flex-direction: column;
    }

    .innerContainer {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container {
        grid-template-columns: 0 1fr 0;
    }

    .columnMiddle {
        width: 100%;
    }
}